# No LFS - commit files directly to Git
models/faiss.index filter=lfs diff=lfs merge=lfs -text
*.tq filter=lfs diff=lfs merge=lfs -text
*.gpickle filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
data/raw/ml-25m/tags.csv filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
